<template name="protocol">
    {{#with currentGroupInfo}}
    <div class="protocol-container">
        <p>{{groupName}}协议如下</p>
        <div>
            <p>付款人：{{payPerson}}</p>
            <p>收款人{{nowReceivePerson}}</p>
        </div>
        <div>
            <p>金额：{{payFee}}</p>
        </div>
        <div>
            <p>期数：{{currentTurn}}</p>
        </div>
        <p>丙方（中间服务商）：团子汇平台（隶属于广州团汇网络有限公司）</p>
        <p>客服电话：020-29841526</p>
        <p>居间平台服务商（本合同丙方）为团子汇平台（微信公众号“团子汇”）的运营管理人，为借贷双方提供居间服务。</p>
        <p>甲乙双方均已在丙方平台注册，同意遵守丙方平台的各项行为准则，在充分阅读理解本文本情形下，本着诚信自愿原则签订本《借款协议》。本协议内容如下：</p>
        <p>一、借款主要内容</p>
        <p>借款金额：//基本会金-投标金额借款利息：投标金额</p>
        <p>还款总额：//基本会金借款日期：{{firstPayTime}}</p>
        <p>还款日期：乙方通过竞标获得收款权后的第一个付款日*</p>
        <p>所在群组：{{invitedCode}}</p>
        <p>*付款日：//罗列出所有付款日</p>
        <p>*竞标：在每个付款日前，以下人员将通过团子汇平台进行竞标，出价最高者将获得在下一个付款日收款的权利；在本群组中已经收款者将失去未来竞标的权利。</p>
        <p>二、协议的生效甲乙双方通过团子汇平台对该协议确认后，即代表承认借条中约定的借款金额、起借日期、还款日期、年化利率等信息。</p>
        <p>三、本息偿还方式甲方必须按钮本协议的约定按时、足额偿还乙方的本金和利息。还款日不受法定假日或公休日的影响，还款日前必须还款，否则会对借款人的信用记录造成影响。</p>
        <p>四、违约甲已双方需保证其提供的信息和资料的真实性，不得提供虚假资料或隐瞒重要事实。提供虚假资料或者故意隐瞒重要事实的，构成违约，应承担违约责任；构成犯罪的，丙方将有权向相关国家机关报案，追究其刑事责任。 如果甲方没有按照约定按时、足额偿还对乙方的本金和利息，则甲方构成违约责任。丙方作为信息中介，不承担对乙方未收回本息部分的代偿责任。 丙方拥有将甲方违约失信的相关信息在媒体披露的权利，并且丙方会将甲方违约信息录入团子汇平台黑名单以供他人查阅。
        </p>
        <p>五、合同无效与终止甲方承诺不得将借款用于赌博、走私等非法活动，乙方在本合同生效前明知甲方将把借款用于非法活动的，本合同无效。甲方按钮本协议的约定按时、足额偿还乙方的本金和利息，本合同终止。</p>
        <p>六、其他本协议经甲乙双方通过丙方团子汇平台以网络在线方式签订。甲乙双方委托团子汇平台保管所有与本协议有关的书面文件或电子信息。各方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条违反适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。 如果各方在本协议履行过程中发生任何争议，任何一方可将争议提交至丙方指定仲裁委员会进行仲裁，仲裁费、律师代理费由败诉方承担。 本协议中所使用的定义，除非另有规定，否则应适用团子汇平台释义规则，团子汇平台对本文定义享有最终解释权。</p>
        <p>签订日期：//出借人确认日期</p>
        <p>还款协议借款协议编号：//六位数字（标会编号，按在平台建立顺序编，从000001开始）+两位数字（还款人编号）+两位数字（收款人编号）+6位数字（协议订立年月日）+02（合同类型）</p>
        <p>甲方（还款人）：注册手机号：</p>
        <p>身份证号：乙方（收款人）：注册手机号：</p>
        <p>身份证号：丙方（中间服务商）：团子汇平台（隶属于广州团汇网络有限公司）</p>
        <p>客服电话：020-29841526</p>
        <p>居间平台服务商（本合同丙方）为团子汇平台（微信公众号“团子汇”）的运营管理人，为借贷双方提供居间服务。 </p>
        <p>甲乙双方均已在丙方平台注册，同意遵守丙方平台的各项行为准则，在充分阅读理解本文本情形下，本着诚信自愿原则签订本《还款协议》。本协议内容如下：</p>
        <p>乙方已经于（//收款人确认日期 ）收到甲方支付的（//基本会金 ）元人民币还款金额，本金额用于偿还《借款协议》（借款协议编号：//对应借款协议编号）中约定借款 。甲乙双方均确定原《借款协议》（借款协议编号：//对应借款协议编号）自本协议生效时自动终止。</p>
        <p>签订日期:{{time}}</p>
    </div>
    {{/with}}
</template>