<template name="joinNewGroup">
    <div class="searchGroup">
        <input type="text" class="groupName">
        <div class="searchImg">
            <img src="./joinNewGroup/search.png">
        </div>
    <div class="searchTipMark"></div>        
    </div>
    <div class="searchTip">
        <img src="./joinNewGroup/searchGroup.png" style="width:100%;height:100%;">
    </div>

    <div class="searchingGroupInfo">
<!--         <div class="groupInfo">
            <div class="groupName">{{groupName}}<span>{{period}}</span></div>
            <div class="groupFee">{{groupFee}}元</div>
            <div class="groupDate">{{firstPayDay}}</div>
        </div>
        <div class="groupWhiteBg">
            <div class="memberInfo groupHeader">
                <div>{{userName}}<img src="./joinNewGroup/queen.png"></div>
                <span>{{status}}</span>
            </div>
        </div>
        <div class="joinIn">
            <div>加入</div>
        </div> -->
    </div>
</template>
