<template name="myReceiptDetails">
	<div class="myReceiptDetails">
	    <!--         甲方信息 start        -->
	    {{#with receiptItemData}}
	    <div class="text">甲方信息</div>
		<div class="myReceiptList">
			<div class="myReceiptItem">
					<span class="textTitle">借出人</span>
					<span class="right lenderName">{{lenderName}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">手机号码</span>
					<span class="right lenderPhone">{{lenderPhone}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">证件号码</span>
					<span class="right lenderNumber">{{lenderNumber}}</span>
			</div>
			<div class="myReceiptAddressItem">
					<span class="textTitle">通讯地址</span>
					<span class="right lenderAddress">{{lenderAddress}}</span>
			</div>
			
		</div>
		<!--         甲方信息End           --> 
	    <!--         乙方信息start         --> 
	    <div class="text" >乙方信息</div>
		<div class="myReceiptList">
			<div class="myReceiptItem">
					<span class="textTitle">借入人</span>
					<span class="right borrowerName">{{borrowerName}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">手机号码</span>
					<span class="right borrowerPhone">{{borrowerPhone}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">证件号码</span>
					<span class="right borrowerNumber">{{borrowerNumber}}</span>
			</div>
			<div class="myReceiptAddressItem">
					<span class="textTitle">通讯地址</span>
					<span class="right borrowerAddress">{{borrowerAddress}}</span>
			</div>
			
		</div>
	    <!--        乙方信息End           -->

	    <!--       借款信息start          -->
         
         <div class="text" >借款信息</div>
		<div class="myReceiptList">
			<div class="myReceiptItem">
					<span class="textTitle">借款金额</span>
					{{#with formatMoney money}}<span class="right money">{{moneyValue}}元人民币</span>
					{{/with}}
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">年化利率</span>
					<span class="right yearRate">{{yearRate}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">借款日期</span>
			{{#with dateFormat borrowTime}}<span class="right">{{dateString}}</span>{{/with}}
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">还款止期</span>
			{{#with dateFormat payStopTime}}<span class="right">{{dateString}}</span>{{/with}}
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">借款用途</span>
					<span class="right">{{purpose}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">收款类型</span>
					<span class="right">{{receiptAccountType}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">收款帐号</span>
					<span class="right">{{receiptAccountNo}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">还款方式</span>
					<span class="right">{{payType}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">逾期日利率</span>
					<span class="right">{{lateDayRate}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">每月还款日</span>
					<span class="right">{{paymentDay}}</span>
			</div>
			<div class="myReceiptItem" style="border: 0px">
					<span class="textTitle">利息支付</span>
					<span class="right">每{{interestTime}}个月支付一次</span>
			</div>
			
		</div>

	    <!--       借款信息End            -->
	    <!--       担保人Start           -->

	    {{#if isShowContent isGuarantee}}

	    <div class="text" >担保人</div>
		<div class="myReceiptList">
			<div class="myReceiptItem">
					<span class="textTitle">担保人</span>
					<span class="right">{{guarantee}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">手机号码</span>
					<span class="right">{{guaranteePhone}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">证件号码</span>
					<span class="right">{{guaranteeNumber}}</span>
			</div>
			<div class="myReceiptAddressItem">
					<span class="textTitle">通讯地址</span>
					<span class="right">{{guaranteeAddress}}</span>
			</div>
			
		</div>
		{{/if}}
	    <!--       担保人End             -->
	    <!--       房屋抵押 start -       -->
        {{#if isShowContent isGuaranteeHouse}}
	    <div class="text">房屋抵押</div>
		<div class="myReceiptList">
		    <div class="myReceiptItem">
					<span class="textTitle">房屋所有人 </span>
					<span class="right">{{houseOwner}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">产权号/土地证号</span>
					<span class="right">{{propertyNo}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">房产面积</span>
					<span class="right">{{houseArea}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">抵押价值</span>
			{{#with formatMoney mortgageHouse}}<span class="right">{{moneyValue}}元人民币</span>{{/with}}
			</div>
			<div class="myReceiptAddressItem">
					<span class="textTitle">房产地址</span>
					<span class="right">{{houseAddress}}</span>
			</div>
			
		</div>
		{{/if}}
	    <!--       房屋抵押  End          -->
	    <!--       其他抵押 start         -->
	     {{#if isShowContent isOtherGuanantee}}
	      <div class="text">其他抵押</div>
		  <div class="myReceiptList">
		  <div class="myReceiptItem">
					<span class="textTitle">担保物所有人</span>
					<span class="right">{{otherOwner}}</span>
			</div>
			<div class="myReceiptItem">
					<span class="textTitle">抵押价值</span>
			<!-- {{#with formatMoney mortgageOther}}<span class="right">{{moneyValue}}元人民币</span>{{/with}} -->
			        <span class="right">{{mortgageOther}}</span>
			</div>
			<div class="myReceiptAddressItem">
					<span class="textTitle">抵押品描述</span>
					<span class="right">{{mortgageDesc}}</span>
			</div>
			
		  </div>
		  {{/if}}
	    <!--       其他抵押  end          -->

	    <!--       基本条款 start         -->
	    	<div class="text">基本条款</div>
	    	<div class="clauseContent">
	    		&nbsp;&nbsp;1.甲方若未按约按期向乙方指定账户提供借款且超过十天的，乙方有权解除本合同并有权要求甲方支付等于借款金额1%违约金。
<br/>&nbsp;&nbsp;2.乙方还款后，若乙方或其他方已提供抵押担保的，甲方应在乙方还款后三个工作日内协助解除抵押登记手续，否则由此而给乙方或其他方造成的损失，一律由甲方承担。
<br/>&nbsp;&nbsp;3.乙方未按约定期限支付利息或偿还本金的，经甲方催告仍未支付利息及偿还本金的，甲方有权主张本合同约定的借款期限提前届满，要求乙方立即归还全部借款本金和利息。
<br/>&nbsp;&nbsp;4.因乙方违约造成甲方为实现债权所支出的与此相关的诉讼费、执行费、律师费、调查费、保全费、查档费、邮寄费、差旅费等一切费用均由乙方承担。
<br/>&nbsp;&nbsp;5.因本合同引起的或与本合同有关的任何争议，先协商解决，协商不成的，依法向乙方所在地的人民法院起诉。
<br/>&nbsp;&nbsp;6.本合同自签署之日起成立，自甲方提供借款给乙方时生效。如借款期限、金额、利率发生变动时，由签署方签订补充协议，其补充协议须到相关登记部门备案，补充协议与本合同具有同等法律效力。
	    	</div>

	    <!--       基本条款 end           -->
	    <!--       附加条款 start         -->
	        <div class="text">附加条款</div>
	        <div class="additionalContent">
	        	{{otherClause}}
	        </div>
	    <!--       附加条款 end           -->

	    <!--       图像资料  start       -->
              <div class="text">图像资料</div>  
              <div class="image">
              {{#each imgDataArr imgArr}}
              <img src="{{url}}">
              {{/each}}
              </div>

	    <!--       图像资料   end        -->         
{{/with}}
	</div>
	
</template>