<template name="inviteFriend">
	<div class="inviteFriend">
		<div class="whiteBgOne">
			<div class="groupInfo">
				<div class="group groupName">
					<div>群组名称</div>
					<span></span>
				</div>
				<div class="group groupFee">
					<div>每期团费</div>
					<span></span>
				</div>
				<div class="group groupTime">
					<div>每期周长</div>
					<span></span>
				</div>
				<div class="group groupDate">
					<div>起始日期</div>
					<span></span>
				</div>
				<div class="group groupNumber">
					<div>群组员人数</div>
					<span></span>
				</div>	
			</div>
		</div>
		<div class="shareTip">
			<img src="/groupInvitation/share.png">
		</div>
	</div>

	<div class="inviteFriendFooter">
		<img src="./return.png">
		<span> 返回 </span>
	</div>
</template>