<template name="groupInvitation">
	<div class="groupInvitation">
		<div class="whiteBg">
			<div class="addGroupStep">
				<div class="empty"></div>
				<span>喵喵组邀请你加入该团子群，按下列步骤加入:</span><br/><br/>
				<p>1.长按二维码，关注团子汇公众号</p><br/><br/>
				<div class="imgContainer">
					<img src="/groupInvitation/code.jpg"/>
				</div><br/>
				<p>2.点击"创建">"加入新群">输入邀请码>点击"加入"</p><br/><br/>
				<div class="inviteCode">
					<span >邀请码</span>
					<div class="copyCode">
						<span class="green"></span>
						<span>(点击复制)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="whiteBgOne">
			<div class="groupInfo">
				<div class="group groupName">
					<div>群组名称</div>
					<span></span>
				</div>
				<div class="group groupFee">
					<div>每期团费</div>
					<span></span>
				</div>
				<div class="group groupTime">
					<div>每期周长</div>
					<span></span>
				</div>
				<div class="group groupDate">
					<div>起始日期</div>
					<span></span>
				</div>
				<div class="group groupNumber">
					<div>群组员人数</div>
					<span></span>
				</div>	
			</div>
		</div>
	</div>
</template>