<template name="bid">
    <div class="bidding-container1">
        <div class="group-conent1 bidding-content1">
            <label for="group-fee" class="fee-label">投标金额</label>
            <input type="text" id="group-fee" placeholder="请输入整数数字" pattern='/[^\d]/g'>
            <img src="/images/group/question.png" class="question">
        </div>
        <!-- 提示 -->
        <div class="fee-tip">请输入投标金额</div>
        <!-- <div class="question-tip">
            在团子群中，你将与好友一起，每个月
            <br> 或每周存入一定金额，这个金额由群众
            <br> 的团员商议决定
        </div> -->
        <div>
            <div class="profile-footer bidding-footer">
                <div class="profile-back bidding-back">返回</div>
                <div class="profile-complete">确认</div>
            </div>
        </div>
    </div>
</template>
