<template name="myReceipt">
	<div class="myReceipt">
		<div class="myReceiptList">
			<!-- <div class="myReceiptItem">
					<span>2016-05-17</span>
					<span class="money">2,000元</span>
			</div>
			<div class="myReceiptItem">
					<span>2016-05-17</span>
					<span class="money">2,000元</span>
			</div>
			<div class="myReceiptItem">
					<span>2016-05-17</span>
					<span class="money">2,000元</span>
			</div>
			<div class="myReceiptItem">
					<span>2016-05-17</span>
					<span class="money">2,000元</span>
			</div>
			<div class="myReceiptItem">
					<span>2016-05-17</span>
					<span class="money">2,000元</span>
			</div>
			<div class="myReceiptItem">
					<span>2016-05-17</span>
					<span class="money">2,000元</span>
			</div> -->
		</div>
	</div>
</template>